<head>
  <meta charset="UTF-8">
  <title></title>


</head>

<!-- Form to Search Cities -->

<!-- <body ng-controller="dataCtr"> -->
  <div>
    <div class="box">
      <form class="form-group" [formGroup]="form" (ngSubmit)="sendForm()">
        <h2>Enter your City: </h2>
        <input type="text" class="form-control" placeholder="Search..." aria-describedby="button-addon2"
          formControlName="muni" />
        <button class="btn btn-primary">Search</button>
      </form>
      <form [formGroup]="idForm" (ngSubmit)="sendIds()">
        <select class="form-control" formControlName="airport">
          <option *ngFor="let airport of selectedAirports" [value]=airport.id>{{airport.name}}</option>
        </select>
        <button class="btn btn-primary">Next...  </button>
      </form>
    </div>

    
  </div>



<!-- </body> -->