<div>
    <!-- <Link to="/"><button class="btn btn-primary">Home</button></Link> -->
    <div class="row">
        <div class="col">
            <div class="box box-shadow">
                <form>
                    <h2>Enter Time Range: </h2>
                    <div class="input-group mb-3 boxItem">
                        <div class="form-group row">
                            <div class="col-10">
                                <p>From:</p>
                                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" />
                                <p>To:</p>
                                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" />
                            </div>
                        </div>
                    </div>
                    <!-- <Link to="/"><button class="btn btn-success">Next</button></Link> -->
                </form>
                
            </div>
        </div>
        
        <div class="col">
            <div class="box box-shadow">
                <form>
                    <h2>Enter Specific Time:</h2>
                    <div class="input-group mb-3">
                        <div class="form-group row">
                            <div class="col-10">
                                <p>Time:</p>
                                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" />

                            </div>
                        </div>
                    </div>
                    <!-- <Link to="/"><button class="btn btn-success">Next</button></Link> -->
                </form>
            </div>
        </div>
    </div>
</div>
