.forecast {
    width: 30%;
    margin-right: 40px;
    display: inline-block;
}

.container{
    margin-top: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.image {
    width: 100%;
}